# render.yaml
services:
  - type: web
    name: Tohid-Ai-Quiz-Bot
    env: node
    buildCommand: npm install --production
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: MONGODB_URI
        sync: false